*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-transform: capitalize;
}
.container{
    display: flex;
     justify-content: center;
    align-items: center;
}
.nav{
    width: 80vw;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.logo{
    display: flex;
    align-items: center;
    
}
img{
    height: 100px;
    width: 100px;
}
ul{
    display: flex;
    list-style: none;
    
   }
   li{
    padding: 10%;
    text-transform: capitalize;
   }
   a{
    text-decoration:none;
     
}
.btn{
    height: 70px;
    width: 180px;
    border: none;
    border-radius: 10px;
    background-color:blue;
    color: white;
    font-weight:bold;
    padding: 10px;
    font-size: 20px;

}
a:hover{
    cursor: pointer;
    color: blue;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(45, 45, 207);

}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    line-height: 50px; 

}
.box{
    min-height: 900px;
    width: 80vw;
    border: 10px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.box2{
    min-height: 800px;
    width: 70vw;
    border: 10px;
    /* background-color: rgb(85, 230, 182); */
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content: center;
}
.feature{
    height: 380px;
    width: 430px;
    background-color: #fff;
    padding: 10px;
    margin: 0px;
    /* margin:auto;   */
}
.support{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    line-height: 30px;
    
}
.support p{
text-align: center;
}
.borderbottom{
    border-bottom: 2px solid rgb(181, 177, 177);
}
.right{
    border-right: 2px solid rgb(181, 177, 177);
}
.footer{
    height: 600px;
    /* width: 95vw; */
    background-color: rgb(247, 246, 246);
    border-radius: 10px;
    display: flex;
    margin: auto;

}
.flogo{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: center; */
    line-height: 30px;
    
    
    
}
.flogo p{
    margin-top: 20px;
    color: rgb(153, 151, 151);
}
.ulfooter{
     display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.f1{
    height: 400px;
    width: 500px;
    /* background-color:bisque; */
    display: flex;
     flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 15%;
}
.f2{
    height: 400px;
    width: 200px;
    /* background-color:bisque; */
    display: flex;
     flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 10px;

}
.f3{
    height: 400px;
    width: 500px;
    /* background-color:bisque; */
    display: flex;
     flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 10px;
    /* margin-top: 20px; */


}
input{
    height: 70px;
    width: 380px;
    border-radius: 10px;
    border-color: blue;
    margin-top: 60px;
    padding-left: 10px;
    padding: 10px;
   
}
.new{
    height: 60px;
    width: 160px;
    border: none;
    border-radius: 10px;
    background-color:blue;
    color: white;
    font-weight:bold;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
}
h4{
    color:rgb(163, 160, 160) ;
}
.line{
    height: 1px;
    width: 80vw;
    background-color: rgb(181, 177, 177);
    position:relative;
    bottom: 200px;
    margin-left: 10%;
}
.para{
    position:relative;
    bottom: 150px;
    margin-left: 35%;
    color:rgb(163, 161, 161);
}
.icon{
    display: flex;
}
a img{
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-top: 40px;

}


 